/*This will be our stylesheet for our nav, headers, footers, etc*/

#nav {
  padding-top: 20px;
}

#dropdown-signin {
  padding: 15px;
  min-width: 250px;
}

#page-footer {
  padding-top: 20px;
  margin-top: 100px;
  border-top: 1px solid #e5e5e5;
  text-align: center;
  padding-top: 40px;
}
