

#companyDiv {
  padding-bottom: 10px;
}

.states {
  fill: #ccc;
  stroke: #fff;
}

.offer_point {
  fill: steelblue;
  fill-opacity: .8;
  stroke: #fff;
}

.label {
  font-family: sans-serif;
  font-size: 10;
}

#dollar_power rect {
  fill: steelblue;
  fill-opacity: .7;
}

#dollar_power .name {
  fill: black;
  font: 16px sans-serif;
  text-anchor: end;
}

#dollar_power .amount {
  fill: black;
  font: 16px sans-serif;
  text-anchor: start;
}

.arc_label {
  font-family: sans-serif;
  font-size: 8pt;
}

.city,
.axis {
  font-size: 10pt;
  font-family: sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: block;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}
