.inline-row-button {
  height: 20px;
  width: 50px;
  font-size: 12px;
  padding-right: 0px;
  padding-left: 0px;
  padding-top: 0px;
}

div .list-selection-buttons {
  padding-bottom: 10px;
}

.full-height {
	height:100%;
}

#other-info {
  width: 50%;
}
