{% extends 'offers/base.html' %}

{% load staticfiles %}

{% block title %}Compare - {{ block.super }}{% endblock title %}

{% block css %}
  {{ block.super }}
	<link href="{% static "stylesheets/smoothDivScroll.css"%}" rel="stylesheet" type="text/css">
	<link href="{% static "stylesheets/compare.css"%}" rel="stylesheet" type="text/css">
{% endblock %}

{% block head_js %}
  {{ block.super }}
  <script src="http://d3js.org/topojson.v1.min.js"></script>
  <script src="http://d3js.org/queue.v1.min.js"></script>
  <script src="http://d3js.org/colorbrewer.v1.min.js"></script>
  <script src="{% static "javascripts/d3.js"%}" type="text/javascript"></script>
  <script src="{% static "javascripts/nv.d3.js"%}" type="text/javascript"></script>

	<script src="{% static "javascripts/jquery-ui-1.10.3.custom.min.js"%}" type="text/javascript"></script>
	<script src="{% static "javascripts/jquery.mousewheel.min.js"%}" type="text/javascript"></script>
	<script src="{% static "javascripts/jquery.kinetic.min.js"%}" type="text/javascript"></script>
	<script src="{% static "javascripts/jquery.smoothdivscroll-1.3-min.js"%}" type="text/javascript"></script>

  <script src="{% static "javascripts/compare.js"%}" type="text/javascript"></script>
  <script src="{% static "javascripts/compare_graphics.js"%}" type="text/javascript"></script>
	<script type="text/javascript">
		var data_json = '{{offer_data|escapejs}}';
		var user_location_json = '{{user_location|escapejs}}';
		var path_to_us = "{% static "us.json" %}";
		//render_comparisons({{offer_data|safe}}, "{% static "us.json" %}");
	</script>

	<script type="text/javascript">
		$(document).ready(function () {
/*
		  $("div#companyDiv").smoothDivScroll({
		    mousewheelScrolling: "allDirections"
		  });
*/
		});
	</script>
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-12">
		<div class="col-md-8 col-md-offset-2">
			<div id="companyDiv">
				<div class="btn-group" data-toggle="buttons" id="companies">
					{% for offer in template_offers %}
						<label class="btn btn-default">
							<input type="checkbox" id="{{ offer.id }}"> {{ offer.company }}
						</label>
       		<!--	<button type="button" class="btn btn-default" id="{{ offer.id }}" data-toggle="button"> {{ offer.company }} </button> -->
        	{%endfor%}
				</div>


			</div>
		</div>
	</div>
</div>

<div class="row">

	<div class="col-md-2">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Tools</h3>
			</div>
			<div class="panel-body" id="tool-box">

				<!-- Add tools here with the following format:
				<div class="checkbox">
					<label>
						<input type="checkbox" id="<<tool-name>>"> <<Tool Name>>
					</label>
				</div>
				-->
				<div class="checkbox">
					<label>
						<input type="checkbox" value="map" checked="true"> Map
					</label>
				</div>
				<div class="checkbox">
					<label>
						<input type="checkbox" value="salary-chart" checked="true"> Salary
            Bar Graph
					</label>
				</div>
				<div class="checkbox">
					<label>
						<input type="checkbox" value="col-breakdown" checked="true"> Cost of
            Living Breakdown
					</label>
				</div>
				<div class="checkbox">
					<label>
						<input type="checkbox" value="dollar-power" checked="true"> Dollar
            Power
					</label>
				</div>
				<div class="checkbox">
					<label>
						<input type="checkbox" value="weather" checked="true"> Weather
					</label>
				</div>

			</div>
		</div>
	</div>

	<div class="col-md-10">
		<div class="table-responsive">
			<table class="table text-center">
				<!-- Add a tool's data here with the following format:
				<tr>
					<td>
						<<Tool's data>>
					</td>
				</tr>
				-->
				<tr>
					<td>
            <div id="geo_map">
              <h3>Offer Locations</h3>
            </div>
					</td>
				</tr>

				<tr>
					<td>
            <div id="salary_chart">
              <h3>Salary</h3>
            </div>
            (*) Adjusted for cost of living
					</td>
				</tr>

				<tr>
					<td>
            <div id="col_pie">
              <h3>Cost of Living Breakdown</h3>
                <p>Values are relative to nationwide average (100). Category
              weights (food = 13%, housing = 29%, utilities = 10%,
              transportation = 12%, health care = 4%, miscellaneous = 32%)
              based on Bureau of Labor Statistics 2009 Expenditure Survey. Arc
              thickness is proportional to magnitude (expensiveness) for a
              particular category. Value under city name is weighted average
              for categories.
            </div>
					</td>
				</tr>

				<tr>
					<td>
            <div id="dollar_power">
              <h3>Value of 100 {{user_city}} Dollars</h3>
              <p>Bar width and color proportional to relative dollar
              value.</p>
            </div>
					</td>
				</tr>

				<tr>
					<td>
            <div id="weather_chart">
              <h3>Average Monthly Weather</h3>
            </div>
					</td>
				</tr>

			</table>
		</div>
	</div>
</div>

{% endblock %}
