{% extends 'offers/base.html' %}

{% load humanize %}
{% load staticfiles %}

{% block title %}List - {{ block.super }}{% endblock title %}

{% block css %}
  {{ block.super }}
  <link href="{% static "stylesheets/offers.css"%}" rel="stylesheet" type="text/css">
  <!-- the CSS for Smooth Div Scroll -->
  <link href="{% static "stylesheets/smoothDivScroll.css"%}"  rel="stylesheet" type="text/css" />
{% endblock %}


{% block content %}
<h2>Your Offers</h2>

<div class="list-selection-buttons">
  <a role="button" href="{% url 'offer_compare' %}" class="btn btn-primary">Compare</a>
  <a role="button" href="{% url 'offer_create' %}" class="btn btn-success">Add</a>
</div>

<table id="offer-table" class="table table-striped">
  <thead>
    <tr>
      <th class="col-md-1"></th>
      <th class="col-md-3"> Company </th>
      <th class="col-md-3"> Location </th>
      <th class="col-md-3"> Salary </th>
      <th class="col-md-1"></th>
      <th class="col-md-1"></th>
    </tr>
  </thead>

  <tbody>
  {%for offer in offer_list %}
  <tr>
    <td></td>
    <td> {{ offer.company }} </td>
    <td> {{ offer.location.city }}, {{ offer.location.state }} </td>
    <td> ${{ offer.salary|intcomma }} </td>
    <td>
      <a role="button" name="edit" href="{% url 'offer_update' offer.id %}" class="btn btn-info inline-row-button">Edit</a>
    </td>
    <td>
      <form action="{% url 'offer_delete' offer.id %}" method="post" role="form">{% csrf_token %}<button role="button" type="submit" name="delete" class="btn btn-danger inline-row-button">Delete</button></form>
    </td>
  </tr>
  {%endfor%}
  <tbody>
</table>

{% endblock %}

{% block body_end_javascript %}
<script src="{% static "javascripts/offers.js"%}" type="text/javascript"></script>
{% endblock %}
