{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}About Us - {{ block.super }}{% endblock title %}

{% block content %}
<h2>About Us/Help</h2>
<hr>
<p>This website was created as a project for CS4911 at Georgia Tech.  It is a
work in progress and will allow you to easily compare job offers across the
country using graphs and statistics to help you decide what job is best for
you.</p>
<br>
<h2>Help</h2>
<hr>
<p></p>
<h4>1. Sign Up/Sign In</h4>
<hr>
<p>The first step is to either register by clicking "Sign Up" in the top right
of the navigation bar or "Sign In" to sign into an existing account. When you
sign up you can set your home city that will be used when comparing your current
cost of living to new areas.  You can later change your city from the "Edit
Profile" page.</p>
<br>
<img src="{% static "images/help/signUpSignIn.png" %}" class="img-responsive"
height="200px" width="600px">
<br>
<br>
<h4>2. Add Offers</h4>
<hr>
<p>Selecting the "My Offers" link will take you to a page that lists all your
current offers and allows you to enter information for new offers.</p>
<img src="{% static "images/help/myOffers.png"%}" class="img-responsive"
style="max-height: 80%;" width="90%">
<br>
<p>You can also edit or delete existing offers using the two buttons found on
the right side of an offer's row.</p>
<br>
<img src="{% static "images/help/editDelete.png"%}" class="img-responsive"
style="max-height: 80%;" width="90%">
<br>
<br>
<h4>3. Compare</h4>
<hr>
<p>On the "Compare Offers" page you can select what offers you would like to
compare along the top and choose how to compare them with the checkboxes in the
"Tools" area on the left.</p>
<img src="{% static "images/help/compareOptions.png"%}" class="img-responsive"
style="max-height: 80%;" width="40%">
{% endblock %}
