{% load bootstrap3 %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>{% block title %}Compare Offer{% endblock title %}</title>

{% bootstrap_css %}
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

{% block css %}
<link href="{% static "stylesheets/base.css"%}" rel="stylesheet" type="text/css">
<link href="{% static "stylesheets/bootstrap.css"%}" rel="stylesheet" type="text/css">
{% endblock css %}

{% block head_js %}
{% bootstrap_javascript jquery=True %}
<script src="{% static "javascripts/jquery.cookie.js"%}" type="text/javascript"></script>
<script src="{% static "javascripts/base.js"%}" type="text/javascript"></script>
{% endblock head_js %}

</head>
<body>

<div class="container" id="body_container">

  <div id="nav">
  {% block nav %}
  {% include "nav.html" %}
  {% endblock nav %}
  </div>

  <div id="content">
  {% block content %}
  <p>You need to override this</p>
  {% endblock content %}
  </div>

</div>

{% block footer %}
<footer id="page-footer"> Copyright Team7 CS4911 2014</footer>
{% endblock footer %}

{% block body_end_javascript %}
{% endblock body_end_javascript %}

</body>
</html>
