{% extends 'base.html' %}

{% load staticfiles %}
{% block content %}
{% url 'offer_compare' as offer_compare %}
{% url 'signup' as signup %}

<div class="jumbotron">
  <div class="container">
    <h1>Welcome to Compare Offer!</h1>
    <p>Compare offer provides a beautiful interface for easily comparing
    multiple job offers, in multiple locations, and helping you decide what's
    best for you.</p>
    {% if user.is_authenticated %}
      <a class="btn btn-primary btn-lg" href="{{ offer_compare }}"role="button">Compare Now!</a></p>
    {% else %}
      <a class="btn btn-primary btn-lg" href="{{ signup }}"role="button">Compare Now!</a></p>
    {% endif %}
  </div>
</div>

<div class="container">
<div class="row">
  <div class="col-md-4">
    <h2>Beautiful Graphs</h2>
    <p>View and compare your job offers using beautiful and informative graphs
    to compare all aspects of the offers.</p>
    <img src="{% static "images/home/costOfLivingBreakdown.png"%}" class="img-responsive">
  </div>
  <div class="col-md-4">
    <h2>Cost of Living Adjustments</h2>
    <p>Compare offers with salary adjusted for cost of living of the area.</p>
    <img src="{% static "images/home/adjustedSalary.png"%}" class="img-responsive">
 </div>
  <div class="col-md-4">
    <h2>Weather</h2>
    <p>Compare offer information all the way down to the average weather in the
    location of the offers.</p>
    <img src="{% static "images/home/weatherGraph.png"%}" class="img-responsive">
  </div>
</div>
{% endblock content %}
