{{alert}}
{% load crispy_forms_tags %}

<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">

    <!-- Brand and toggle get grouped for better mobile display -->

    <!-- Loads custom template tags for navigation.-->
    {% load nav_tags %}
    {% url 'index' as index %}
    {% url 'signup' as signup %}
    {% url 'offer_list' as offer_list %}
    {% url 'offer_compare' as offer_compare %}
    {% url 'about' as about %}
    {% url 'login' as login %}
    {% url 'logout' as logout %}
    {% url 'user_update' as user_update %}

    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ index }}">Compare Offer</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="{% navactive request index %}"><a href="{{ index }}">Home</a></li>

        {% if user.is_authenticated %}
        <li class="{% navactive request offer_compare %}"><a href="{{ offer_compare }}">Compare Offers</a></li>
        <li class="{% navactive request offer_list %}"><a href="{{ offer_list }}">My Offers</a></li>
        {% endif %}

        <li class="{% navactive request about %}"><a href="{{ about }}">About/Help</a></li>
      </ul>


      <ul class="nav navbar-nav navbar-right">

        {% if not user.is_authenticated %}
        <li class="{% navactive request signup %}"><a href="{{ signup }}">Sign Up</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sign in <b class="caret"></b></a>
          <ul class="dropdown-menu" id="dropdown-signin">
            <li>
              <div class="row">
                <div class="col-md-12">
                  {% crispy nav_login_form %}
                </div>
             </div>
            </li>
          </ul>
        </li><!-- end sign in dropdown -->
        {% else %}
        <li class="{% navactive request user_update %}"><a href = "{{ user_update }}"> Edit Profile</a></li>
        <li><a href = "{{ logout }}">Logout</a></li>
        {% endif %}

      </ul><!-- end navbar-right -->
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
